<section class=Aboutme id="About">
<article>
<h1 id="AboutmeTitle">Welcome to my Portfolio!</h1>
<p id="AboutmeText">This section of my website displays all the information about me!
Besides school works, I like to play video games and soccer.
Here is a video about me as well!</p>
</article>


<!--<video controls>
<source src="/Assets/videos/intro.mp4" type=video/mp4/>
</video>-->
<iframe src="https://www.youtube.com/embed/xF4Q_JKTIr8" title="intro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</section>