<section class=Contact id=Contact>
<h1 id="ContactmeTitle">Contact me!</h1>
<form action="mailto:sadra.keshavarzsafiei@ontariotechu.net" method="post" enctype="text/plain" 
    name="form">    
    <!--used input type to input the information and message of user into my email alongside submit button-->
<input type="text" id="Name" name="Name" placeholder="Your name.."> <br><br>
<input type="text" id="Email" name="Email" placeholder="Email Address" required><br><br>
<input type="text" id="Phone" name="Phone" placeholder="Phone Number"> <br><br>
<textarea id="Description" name="Description" rows="7" cols="100" placeholder="Enter Your Message here......"></textarea><br><br>
<p><input type="submit" value="Click here to submit the form"/></p>
</article>
</form>




</section>