<nav class="navbar bottom navbar-dark bg-dark" id="navbarbottom">
  <h6 class=" navbar-text"> &copy; Copyright 2022. All Rights reserved. <a href="https://github.com/SadraKe1"><i class="fa-brands large fa-square-github"></a></i><a href="https://www.linkedin.com/in/sadra-keshavarz/"><i class="fa-brands fa-linkedin"></a></i>



    <script src = "/Scripts/app.js">
    <script src = "/bootstrap/dist/js/bootstrap.min.js">
    <script src="/jquery/dist/jquery.min.js">
