<nav class="navbar bottom navbar-dark bg-dark" id="navbarbottom">
  <h6 class=" navbar-text"> &copy; Copyright 2022. All Rights reserved. </h6>



    <script src = "/Scripts/app.js">
    <script src = "/bootstrap/dist/js/bootstrap.min.js">
    <script src="/jquery/dist/jquery.min.js">
