<section class=ProjectPage id="Projects">
<article>
<h1 id="ProjectPageTitle">Here are my Projects!</h1>
<p id="ProjectPageText">This section of my website shows all my programming projects! <br>Feel free to check them out!</p>
<ul>
    <li><a href="https://sadrake.netlify.app/">My First Website for Web And Script Class</a></li> <br>
    <li><a href="https://github.com/SadraKe1/Labs-Projects">My Rock Paper Scissors Project for Javascript</a></li><br>
    <li><a href="https://www.instagram.com/s.k_training12/">My social media brand for instagram</a></li><br>
    <li><a href="https://github.com/SadraKe1">My Github</a></li>
</ul>
</article>
</section>