<%- include ('partials/header.ejs') %>



<body>
<%- include ('partials/navbar.ejs') %>
 
  <h1>Welcome to my <%=title%> page </h1>

<!--Home page section-->
<section class=Homepage>
<img class= "profile" src="/Assets/images/profile.png"/>
</section>



<section class=Aboutme>
<article>
<h1 id="AboutmeTitle">Welcome to my Portfolio!</h1>
<p id="AboutmeText">This section of my website displays all the information about me!
Besides school works, I like to play video games and soccer.
Here is a video about me as well!</p>
</article>


<video controls>
<source src="/Assets/videos/intro.mp4" type=video/mp4/>
</video>

</section>

<section id =ProjectPage>



</section>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class=" navbar-text"> &copy; Copyright 2022. All Rights reserved. </h6>



    <script src = "/Scripts/app.js">
    <script src = "/bootstrap/dist/js/bootstrap.min.js">
    <script src="/jquery/dist/jquery.min.js">

    
  </body>
</html>
