<%- include ('partials/header.ejs') %>



<body>
<%- include ('partials/navbar.ejs') %>
 
  <h1>Welcome to my <%=title%> page </h1>

<!--Home page section-->
<section class=Homepage>
<img class= "profile" src="/Assets/images/profile.png"/>
</section>
<section class=Aboutme>
</section>



<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class=" navbar-text"> &copy; Copyright 2022. All Rights reserved. </h6>



    <script src = "/Scripts/app.js">
    <script src = "/bootstrap/dist/js/bootstrap.min.js">
    <script src="/jquery/dist/jquery.min.js">

    
  </body>
</html>
