

html{

    height:100%;
    width:100%;
    
}
body{
 background-color: #909590 !important;

    overflow-y: scroll;
height:100%;
width:100%;

}
.Homepage{
margin:auto;

position: block;
width:45%;
height:30%;
border-radius: 25px;
background: linear-gradient(151deg, #ab15ff, #0075fd, #2bffee);
background-size: 600% 600%;

-webkit-animation: AnimationName 0s ease infinite;
-moz-animation: AnimationName 0s ease infinite;
animation: AnimationName 0s ease infinite;
}

@-webkit-keyframes AnimationName {
0%{background-position:53% 0%}
50%{background-position:48% 100%}
100%{background-position:53% 0%}
}
@-moz-keyframes AnimationName {
0%{background-position:53% 0%}
50%{background-position:48% 100%}
100%{background-position:53% 0%}
}
@keyframes AnimationName {
0%{background-position:53% 0%}
50%{background-position:48% 100%}
100%{background-position:53% 0%}
}
.Aboutme{
    margin:auto;
    background-color: #2a2828;
    position: block;
    margin-top:1.1%;
    width:45%;
    height:37%;
    border-radius: 25px;

}

.navbar, .navbar-expand-lg{
height:8%;
font-size:120%;
}
.navbar-brand{
font-size:160% !important;

}
.profile{
width:20%;
height:50%;
border-radius:50%;

}

#AboutmeTitle,#AboutmeText{
font-size: 150%;
color: rgb(176, 180, 185);
text-align: center;

}

iframe{
position: relative;
width:38%;
height:57%;
left:32%;

}

.navbar , .container-fluid{


    color:#04053f
}

.ProjectPage{
    margin:auto;
    background-color: #2a2828;
    position: block;
    margin-top:1.1%;
    width:45%;
    height:37%;
    border-radius: 25px;

}


#ProjectPageText,#ProjectPageTitle{
    font-size: 150%;
    color: rgb(176, 180, 185);
    text-align: center;


}

a:link{
text-decoration: none;
color:rgb(149, 189, 238);
font-size: 130%;
}

a:hover{
text-decoration: dashed;

}

.Contact{
    margin:auto;
    background-color: #2a2828;
    position: block;
    margin-top:1.1%;
    width:55%;
    height:80%;
    border-radius: 25px;

}
#navbarbottom{

    top:3%;


}


#ContactmeTitle{
    font-size: 260%;
    color: rgb(176, 180, 185);
    text-align: center;

}

#ContactHeader{
    color:#C5FFFD;
    font-size: 250%;
    margin-left:35%;
    position:absolute;
    
    }
    input[type=submit]:hover{
        cursor:pointer;
        color:#8B8BAE;
        
            }

            input[type=text],#Description, input[type=submit] {
                color:white;
                float:center;
                width:33%;
                padding: 12px;
                font-size: 20px;
                border: 4px solid rgb(208, 187, 228);
                 border-radius:9px;
                box-sizing: content-box;
                color:white;
                background-color: black;
                display: block;
                margin:auto;
                    }           